---
import Link from "../components/Link.astro";
import MainLayout from "../layouts/Mainlayout.astro"
---

<MainLayout title="About" description="My About Page">
	<section aria-label="About Me">
		<div class="pl-[10rem]  ">
		<img class="rounded-[10px] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] w-[220px] h-[200px]"src="IMG-20210504-WA0004.jpg" alt=""/>
		</div>
		<div class="pl-[10rem] pt-[28px] w-[70rem]">
			<h1 class="text-[20px] font-bold">My Blog</h1>
			<p>I am  Mili Murmur, a full-stack developer based in West-Bengal, India with a passion for building digital services/stuff she wants. She has a knack for all things launching products, from planning and designing all the way to solving real-life problems with code. When not online, she loves hanging out with her Drawing and Camera. </p>
		</div>
	</section>

</MainLayout>