---


---

<div class="flex pt-[18px] pl-[30px]">
<aside class ="">
<div class="w-[59px] h-[27px] bg-blue-700 rounded-[4px] cursor:pointer hover:bg-blue-800">
    <h2 class="text-[13px] text-white text-center cursor:pointer pt-[3px]">Sign up</h2>
</div>
</aside>
<aside class="pl-[15px]">
    <div class="w-[59px] h-[27px] bg-blue-700 rounded-[4px] cursor:pointer hover:bg-blue-800">
        <h2 class="text-[13px] text-white text-center cursor:pointer pt-[3px]">Log In</h2>
</div>
</aside>
</div>